// pallete
$independence: rgb(85, 91, 110);
$morning-blue: rgb(137, 176, 174);
$powded-blue: rgb(190, 227, 219);
$cultured: rgb(250, 249, 249);
$apricot: rgb(255, 214, 186);


body {
    background-color: rgb(245, 245, 245);
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root .pdf-file {
    height: 100vh;
    overflow: hidden;
}

nav {
    position: fixed;
    z-index: 1;
    &>ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        &>li:first-of-type {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 20px;
            min-width: 34px;
            border-radius: 60px;
            box-shadow: 0 0 0 0 white;
            cursor: pointer;
            div {
                width: 34px;
                height: 1.6px;
                background-color: black;
            }
        }
        &>li {
            background-color: black;
            margin: 10px 4px;
            padding: 4px 10px;
            box-shadow: 0 0 4px 0 black;
            border-radius: 6px;
            text-align: center;
            font-size: 0.9em;
            a {
                width: 84px;
                color: white;
                text-decoration: none;
            }
        }
    }
}

.progress {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    align-items: center;
    position: relative;
    a {
        text-decoration: none;
        color: black;
        transition: color 0.3s, font-weight 0.3s;
        white-space: nowrap;
        display: block;
        &.active {
            color: rgb(137, 176, 174);
            font-weight: 700;
        }
        &.disabled-link {
            pointer-events: none;
            color: rgb(165, 165, 165);
        }
    }
    hr {
        border-top: 2px dashed rgb(190, 227, 219);
        margin: 4px 0 0 0;
        width: 20%;
    }
}

.sprzedawca,
.klient,
.dane,
.przedmiot {
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
    }
    &>div {
        label {
            width: calc(60% - 1vw);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            span {
                padding-left: 6px;
                width: 100%;
                position: relative;
                color: gray;
                font-size: 0.8em;
                font-weight: 700;
                letter-spacing: 1px;
            }
            input {
                width: 100%;
                height: 46px;
                border: 0;
                outline: none;
                padding-left: 10px;
                margin-top: 4px;
            }
        }
        &>span {
            margin-top: 4px;
            display: block;
            text-align: center;
            min-height: 20px;
        }
    }
    .navigation {
        display: flex;
        justify-content: space-around;
        margin-top: 16px;
        margin-bottom: 50px;
        button, a {
            background-color: rgb(85, 91, 110);
            color: white;
            padding: 4px 0px;
            width: 100px;
            text-decoration: none;
            text-align: center;
            font-size: 16px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border: 0;
            cursor: pointer;
            &:disabled, &.disabled {
                background-color: rgb(219, 213, 213);
                pointer-events: none;
                cursor: default;
            }
        }
    }
}
@mixin inputsWidth($width, $float, $label-margin, $span-width, $span-margin) {
    display: inline-block;
    width: $width;
    float: $float;
    label {
        margin: $label-margin;
    }
    &>span {
        width: $span-width;
        margin: $span-margin;
    }
}
@media screen and (min-width: 900px) {
    .sprzedawca {
        &>div:nth-of-type(4),
        &>div:nth-of-type(6) {
            @include inputsWidth(60%, left, 0 0 0 34%, 60%, 0 0 0 34%);
        }
        &>div:nth-of-type(5),
        &>div:nth-of-type(7) {
            @include inputsWidth(35%, right, 0 0 0 -15%, 60%, 0 0 0 -16%);
            &>span {
                clear: both;
            }
        }
        &>div:nth-of-type(8) {
            @include inputsWidth(48%, left, 0 0 0 43%, 60%, 0 0 0 42%);
        }
        &>div:nth-of-type(9) {
            @include inputsWidth(48%, right, 0, 60%, 0);
            &>span {
                clear: both;
            }
        }
    }
    .klient {
        &>div:nth-of-type(2),
        &>div:nth-of-type(4) {
            @include inputsWidth(60%, left, 0 0 0 34%, 60%, 0 0 0 34%);
        }
        &>div:nth-of-type(3),
        &>div:nth-of-type(5) {
            @include inputsWidth(35%, right, 0 0 0 -15%, 60%, 0 0 0 -16%);
            &>span {
                clear: both;
            }
        }
    }
    .dane {
        &>div:nth-of-type(1),
        &>div:nth-of-type(5) {
            @include inputsWidth(60%, left, 0 0 0 34%, 60%, 0 0 0 34%);
        }
        &>div:nth-of-type(2),
        &>div:nth-of-type(6) {
            @include inputsWidth(35%, right, 0 0 0 -15%, 60%, 0 0 0 -16%);
            &>span {
                clear: both;
            }
        }
        &>div:nth-of-type(3) {
            @include inputsWidth(48%, left, 0 0 0 43%, 60%, 0 0 0 42%);
        }
        &>div:nth-of-type(4) {
            @include inputsWidth(48%, right, 0, 60%, 0);
            &>span {
                clear: both;
            }
        }
    }
}

.dane {
    .sposob-zaplaty,
    .zaplacono,
    .przedmiot>div {
        label {
            position: relative;
            .arrow {
                position: absolute;
                text-align: right;
                width: max-content;
                height: max-content;
                top: 20px;
                padding: 14px 5px;
                right: 0px;
                cursor: pointer;
                &:hover {
                    color: green;
                }
            }
            &>div {
                position: absolute;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: white;
                top: 70px;
                z-index: 1;
                span {
                    padding: 6px 0;
                    text-align: center;
                    box-shadow: 0 0 2px 0 silver;
                    cursor: pointer;
                    &:hover {
                        background-color: rgb(240, 240, 240);

                    }
                }
            }
        }
    }
    .przedmioty {
        .przedmiot {
            padding-top: 10px;
            &>div:first-of-type {
                margin: 16px 0 -16px 16px;
                font-weight: 900;
                font-size: 1.2em;
            }
            &:nth-of-type(odd) {
                background-color: rgba(190, 227, 219, 1);
            }
            &:nth-of-type(even) {
                background-color: rgba(190, 227, 219, 0.6);
            }
        }
    }
    .disabled-termin {
        pointer-events: none;
        input {
            background-color: lightgray;
            color: gray;
        }
    }
}

@media screen and(min-width: 630px) {
    .progress {
        flex-direction: row;
        justify-content: space-between;
    }
}