body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root .pdf-file {
  height: 100vh;
  overflow: hidden;
}

nav {
  position: fixed;
  z-index: 1;
}

nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

nav > ul > li:first-of-type {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 20px;
  min-width: 34px;
  border-radius: 60px;
  -webkit-box-shadow: 0 0 0 0 white;
          box-shadow: 0 0 0 0 white;
  cursor: pointer;
}

nav > ul > li:first-of-type div {
  width: 34px;
  height: 1.6px;
  background-color: black;
}

nav > ul > li {
  background-color: black;
  margin: 10px 4px;
  padding: 4px 10px;
  -webkit-box-shadow: 0 0 4px 0 black;
          box-shadow: 0 0 4px 0 black;
  border-radius: 6px;
  text-align: center;
  font-size: 0.9em;
}

nav > ul > li a {
  color: white;
  text-decoration: none;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 80px;
  margin-left: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.progress a {
  text-decoration: none;
  color: black;
}

.progress a.disabled-link {
  pointer-events: none;
  color: #a5a5a5;
}

.sprzedawca h1 {
  text-align: center;
}

.sprzedawca > div label {
  width: calc(60% - 1vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.sprzedawca > div label span {
  padding-left: 6px;
  width: 100%;
  position: relative;
  color: gray;
  font-size: 0.8em;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

.sprzedawca > div label input {
  width: 100%;
  height: 46px;
  border: 0;
  outline: none;
  -webkit-box-shadow: 0 2px 2px 0px silver;
          box-shadow: 0 2px 2px 0px silver;
  padding-left: 10px;
  margin-top: 4px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

.sprzedawca > div label input:focus {
  -webkit-box-shadow: 0 1px 4px 1px #326283;
          box-shadow: 0 1px 4px 1px #326283;
}

.sprzedawca > div > span {
  margin-top: 4px;
  display: block;
  text-align: center;
  min-height: 20px;
}

@media screen and (min-width: 500px) {
  .progress {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=index.css.map */