body {
  background-color: whitesmoke;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root .pdf-file {
  height: 100vh;
  overflow: hidden;
}

nav {
  position: fixed;
  z-index: 1;
}

nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

nav > ul > li:first-of-type {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 20px;
  min-width: 34px;
  border-radius: 60px;
  -webkit-box-shadow: 0 0 0 0 white;
          box-shadow: 0 0 0 0 white;
  cursor: pointer;
}

nav > ul > li:first-of-type div {
  width: 34px;
  height: 1.6px;
  background-color: black;
}

nav > ul > li {
  background-color: black;
  margin: 10px 4px;
  padding: 4px 10px;
  -webkit-box-shadow: 0 0 4px 0 black;
          box-shadow: 0 0 4px 0 black;
  border-radius: 6px;
  text-align: center;
  font-size: 0.9em;
}

nav > ul > li a {
  width: 84px;
  color: white;
  text-decoration: none;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  margin-left: 20%;
  margin-right: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.progress a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.3s, font-weight 0.3s;
  transition: color 0.3s, font-weight 0.3s;
  white-space: nowrap;
  display: block;
}

.progress a.active {
  color: #89b0ae;
  font-weight: 700;
}

.progress a.disabled-link {
  pointer-events: none;
  color: #a5a5a5;
}

.progress hr {
  border-top: 2px dashed #bee3db;
  margin: 4px 0 0 0;
  width: 20%;
}

.sprzedawca h1,
.klient h1,
.dane h1,
.przedmiot h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

.sprzedawca > div label,
.klient > div label,
.dane > div label,
.przedmiot > div label {
  width: calc(60% - 1vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.sprzedawca > div label span,
.klient > div label span,
.dane > div label span,
.przedmiot > div label span {
  padding-left: 6px;
  width: 100%;
  position: relative;
  color: gray;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1px;
}

.sprzedawca > div label input,
.klient > div label input,
.dane > div label input,
.przedmiot > div label input {
  width: 100%;
  height: 46px;
  border: 0;
  outline: none;
  padding-left: 10px;
  margin-top: 4px;
}

.sprzedawca > div > span,
.klient > div > span,
.dane > div > span,
.przedmiot > div > span {
  margin-top: 4px;
  display: block;
  text-align: center;
  min-height: 20px;
}

.sprzedawca .navigation,
.klient .navigation,
.dane .navigation,
.przedmiot .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 16px;
  margin-bottom: 50px;
}

.sprzedawca .navigation button, .sprzedawca .navigation a,
.klient .navigation button,
.klient .navigation a,
.dane .navigation button,
.dane .navigation a,
.przedmiot .navigation button,
.przedmiot .navigation a {
  background-color: #555b6e;
  color: white;
  padding: 4px 0px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  cursor: pointer;
}

.sprzedawca .navigation button:disabled, .sprzedawca .navigation button.disabled, .sprzedawca .navigation a:disabled, .sprzedawca .navigation a.disabled,
.klient .navigation button:disabled,
.klient .navigation button.disabled,
.klient .navigation a:disabled,
.klient .navigation a.disabled,
.dane .navigation button:disabled,
.dane .navigation button.disabled,
.dane .navigation a:disabled,
.dane .navigation a.disabled,
.przedmiot .navigation button:disabled,
.przedmiot .navigation button.disabled,
.przedmiot .navigation a:disabled,
.przedmiot .navigation a.disabled {
  background-color: #dbd5d5;
  pointer-events: none;
  cursor: default;
}

.dane .sposob-zaplaty label,
.dane .zaplacono label,
.dane .przedmiot > div label {
  position: relative;
}

.dane .sposob-zaplaty label .arrow,
.dane .zaplacono label .arrow,
.dane .przedmiot > div label .arrow {
  position: absolute;
  text-align: right;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  top: 20px;
  padding: 14px 5px;
  right: 0px;
  cursor: pointer;
}

.dane .sposob-zaplaty label .arrow:hover,
.dane .zaplacono label .arrow:hover,
.dane .przedmiot > div label .arrow:hover {
  color: green;
}

.dane .sposob-zaplaty label > div,
.dane .zaplacono label > div,
.dane .przedmiot > div label > div {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  top: 70px;
  z-index: 1;
}

.dane .sposob-zaplaty label > div span,
.dane .zaplacono label > div span,
.dane .przedmiot > div label > div span {
  padding: 6px 0;
  text-align: center;
  -webkit-box-shadow: 0 0 2px 0 silver;
          box-shadow: 0 0 2px 0 silver;
  cursor: pointer;
}

.dane .sposob-zaplaty label > div span:hover,
.dane .zaplacono label > div span:hover,
.dane .przedmiot > div label > div span:hover {
  background-color: #f0f0f0;
}

.dane .przedmioty .przedmiot {
  padding-top: 10px;
}

.dane .przedmioty .przedmiot > div:first-of-type {
  margin: 16px 0 -16px 16px;
  font-weight: 900;
  font-size: 1.2em;
}

.dane .przedmioty .przedmiot:nth-of-type(odd) {
  background-color: #bee3db;
}

.dane .przedmioty .przedmiot:nth-of-type(even) {
  background-color: rgba(190, 227, 219, 0.6);
}

.dane .disabled-termin {
  pointer-events: none;
}

.dane .disabled-termin input {
  background-color: rgba(239, 239, 239, 0.3);
  color: #aaaaaa;
}

@media screen and (min-width: 900px) {
  .sprzedawca > div:nth-of-type(4),
  .sprzedawca > div:nth-of-type(6) {
    display: inline-block;
    width: 60%;
    float: left;
  }
  .sprzedawca > div:nth-of-type(4) label,
  .sprzedawca > div:nth-of-type(6) label {
    margin: 0 0 0 34%;
  }
  .sprzedawca > div:nth-of-type(4) > span,
  .sprzedawca > div:nth-of-type(6) > span {
    width: 60%;
    margin: 0 0 0 34%;
  }
  .sprzedawca > div:nth-of-type(5),
  .sprzedawca > div:nth-of-type(7) {
    display: inline-block;
    width: 35%;
    float: right;
  }
  .sprzedawca > div:nth-of-type(5) label,
  .sprzedawca > div:nth-of-type(7) label {
    margin: 0 0 0 -15%;
  }
  .sprzedawca > div:nth-of-type(5) > span,
  .sprzedawca > div:nth-of-type(7) > span {
    width: 60%;
    margin: 0 0 0 -16%;
  }
  .sprzedawca > div:nth-of-type(8) {
    display: inline-block;
    width: 48%;
    float: left;
  }
  .sprzedawca > div:nth-of-type(8) label {
    margin: 0 0 0 43%;
  }
  .sprzedawca > div:nth-of-type(8) > span {
    width: 60%;
    margin: 0 0 0 42%;
  }
  .sprzedawca > div:nth-of-type(9) {
    display: inline-block;
    width: 48%;
    float: right;
  }
  .sprzedawca > div:nth-of-type(9) label {
    margin: 0;
  }
  .sprzedawca > div:nth-of-type(9) > span {
    width: 60%;
    margin: 0;
  }
  .klient > div:nth-of-type(2),
  .klient > div:nth-of-type(4) {
    display: inline-block;
    width: 60%;
    float: left;
  }
  .klient > div:nth-of-type(2) label,
  .klient > div:nth-of-type(4) label {
    margin: 0 0 0 34%;
  }
  .klient > div:nth-of-type(2) > span,
  .klient > div:nth-of-type(4) > span {
    width: 60%;
    margin: 0 0 0 34%;
  }
  .klient > div:nth-of-type(3),
  .klient > div:nth-of-type(5) {
    display: inline-block;
    width: 35%;
    float: right;
  }
  .klient > div:nth-of-type(3) label,
  .klient > div:nth-of-type(5) label {
    margin: 0 0 0 -15%;
  }
  .klient > div:nth-of-type(3) > span,
  .klient > div:nth-of-type(5) > span {
    width: 60%;
    margin: 0 0 0 -16%;
  }
  .dane > div:nth-of-type(1),
  .dane > div:nth-of-type(5) {
    display: inline-block;
    width: 60%;
    float: left;
  }
  .dane > div:nth-of-type(1) label,
  .dane > div:nth-of-type(5) label {
    margin: 0 0 0 34%;
  }
  .dane > div:nth-of-type(1) > span,
  .dane > div:nth-of-type(5) > span {
    width: 60%;
    margin: 0 0 0 34%;
  }
  .dane > div:nth-of-type(2),
  .dane > div:nth-of-type(6) {
    display: inline-block;
    width: 35%;
    float: right;
  }
  .dane > div:nth-of-type(2) label,
  .dane > div:nth-of-type(6) label {
    margin: 0 0 0 -15%;
  }
  .dane > div:nth-of-type(2) > span,
  .dane > div:nth-of-type(6) > span {
    width: 60%;
    margin: 0 0 0 -16%;
  }
  .dane > div:nth-of-type(3) {
    display: inline-block;
    width: 48%;
    float: left;
  }
  .dane > div:nth-of-type(3) label {
    margin: 0 0 0 43%;
  }
  .dane > div:nth-of-type(3) > span {
    width: 60%;
    margin: 0 0 0 42%;
  }
  .dane > div:nth-of-type(4) {
    display: inline-block;
    width: 48%;
    float: right;
  }
  .dane > div:nth-of-type(4) label {
    margin: 0;
  }
  .dane > div:nth-of-type(4) > span {
    width: 60%;
    margin: 0;
  }
  .przedmiot {
    min-height: 300px;
  }
  .przedmiot > div:nth-of-type(2) {
    display: inline-block;
    width: 60%;
    float: left;
  }
  .przedmiot > div:nth-of-type(2) label {
    margin: 0 0 0 34%;
  }
  .przedmiot > div:nth-of-type(2) > span {
    width: 60%;
    margin: 0 0 0 34%;
  }
  .przedmiot > div:nth-of-type(3) {
    display: inline-block;
    width: 35%;
    float: right;
  }
  .przedmiot > div:nth-of-type(3) label {
    margin: 0 0 0 -15%;
  }
  .przedmiot > div:nth-of-type(3) > span {
    width: 60%;
    margin: 0 0 0 -16%;
  }
  .przedmiot > div:nth-of-type(4) {
    display: inline-block;
    width: 30%;
    float: left;
  }
  .przedmiot > div:nth-of-type(4) label {
    margin: 0 0 0 68%;
  }
  .przedmiot > div:nth-of-type(4) > span {
    width: 60%;
    margin: 0 0 0 68%;
  }
  .przedmiot > div:nth-of-type(5) {
    display: inline-block;
    width: 30%;
    float: left;
  }
  .przedmiot > div:nth-of-type(5) label {
    margin: 0 0 0 38%;
  }
  .przedmiot > div:nth-of-type(5) > span {
    width: 60%;
    margin: 0 0 0 -16%;
  }
  .przedmiot > div:nth-of-type(6) {
    display: inline-block;
    width: 30%;
    float: right;
  }
  .przedmiot > div:nth-of-type(6) label {
    margin: 0 0 0 -26%;
  }
  .przedmiot > div:nth-of-type(6) > span {
    width: 60%;
    margin: 0 0 0 -16%;
  }
  .przedmiot > div:nth-of-type(7) {
    display: inline-block;
    width: 48%;
    float: left;
  }
  .przedmiot > div:nth-of-type(7) label {
    margin: 0 0 0 43%;
  }
  .przedmiot > div:nth-of-type(7) > span {
    width: 60%;
    margin: 0 0 0 42%;
  }
  .przedmiot > div:nth-of-type(8) {
    display: inline-block;
    width: 48%;
    float: right;
  }
  .przedmiot > div:nth-of-type(8) label {
    margin: 0;
  }
  .przedmiot > div:nth-of-type(8) > span {
    width: 60%;
    margin: 0;
  }
}

@media screen and (min-width: 630px) {
  .progress {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=index.css.map */