body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root .pdf-file {
    height: 100vh;
    overflow: hidden;
}

nav {
    position: fixed;
    z-index: 1;
    &>ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        &>li:first-of-type {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 20px;
            min-width: 34px;
            border-radius: 60px;
            box-shadow: 0 0 0 0 white;
            cursor: pointer;
            div {
                width: 34px;
                height: 1.6px;
                background-color: black;
            }
        }
        &>li {
            background-color: black;
            margin: 10px 4px;
            padding: 4px 10px;
            box-shadow: 0 0 4px 0 black;
            border-radius: 6px;
            text-align: center;
            font-size: 0.9em;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.progress {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80px;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    position: relative;
    a {
        text-decoration: none;
        color: black;
        &.disabled-link {
            pointer-events: none;
            color: rgb(165, 165, 165);
        }
    }
}

.sprzedawca {
    h1 {
        text-align: center;
    }
    &>div {
        margin-bottom: 20px;
        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                padding-left: 6px;
                width: 50%;
                position: relative;
                color: gray;
                font-size: 0.8em;
                font-weight: 700;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                letter-spacing: 1px;
            }
            input {
                width: 50%;
                height: 46px;
                border: 0;
                outline: none;
                box-shadow: 0 2px 2px 0px silver;
                padding-left: 10px;
                transition: box-shadow 0.4s;
                &:focus {
                    box-shadow: 0 1px 4px 1px rgb(50, 98, 131);
                }
            }
        }
        &>span {
            margin-top: 4px;
            display: block;
            text-align: center;
        }
    }
}

@media screen and(min-width: 500px) {
    .progress {
        flex-direction: row;
        justify-content: space-around;
    }
}